
### PV Interface for NDFileHDF5 ###

record("*", "$(P)$(R)AutoSave") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.AutoSave.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)AutoSave_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.AutoSave.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileName") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileName.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileName_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileName.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Capture") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Capture.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Capture_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Capture.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Compression") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Compression.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Compression_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Compression.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)JPEGQuality") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.JPEGQuality.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)JPEGQuality_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.JPEGQuality.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscCompressor") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscCompressor.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscCompressor_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscCompressor.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscShuffle") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscShuffle.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscShuffle_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscShuffle.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileFormat") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileFormat.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileFormat_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileFormat.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FilePathExists_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FilePathExists.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FilePath") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FilePath.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FilePath_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FilePath.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)CreateDirectory") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.CreateDirectory.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)CreateDirectory_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.CreateDirectory.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileNumber") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileNumber.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileNumber_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileNumber.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)TempSuffix") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.TempSuffix.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)TempSuffix_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.TempSuffix.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)LazyOpen") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.LazyOpen.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)LazyOpen_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.LazyOpen.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)AutoIncrement") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.AutoIncrement.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)AutoIncrement_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.AutoIncrement.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileTemplate") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileTemplate.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileTemplate_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileTemplate.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FullFileName_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FullFileName.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)WriteFile") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.WriteFile.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)WriteFile_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.WriteFile.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ReadFile") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ReadFile.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ReadFile_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ReadFile.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumCaptured_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumCaptured.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileWriteMode") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileWriteMode.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FileWriteMode_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FileWriteMode.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumCapture") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumCapture.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumCapture_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumCapture.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DeleteDriverFile") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DeleteDriverFile.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DeleteDriverFile_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DeleteDriverFile.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)WriteStatus") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.WriteStatus.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)WriteMessage") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.WriteMessage.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SWMRSupported_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SWMRSupported.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumDataBits") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumDataBits.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumDataBits_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumDataBits.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DataBitsOffset") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DataBitsOffset.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DataBitsOffset_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DataBitsOffset.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SWMRMode") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SWMRMode.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SWMRMode_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SWMRMode.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SWMRActive_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SWMRActive.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SZipNumPixels") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SZipNumPixels.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SZipNumPixels_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SZipNumPixels.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SWMRCbCounter_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SWMRCbCounter.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ZLevel") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ZLevel.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ZLevel_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ZLevel.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FlushNow") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FlushNow.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSizeAuto") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSizeAuto.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSizeAuto_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSizeAuto.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)StorePerform") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.StorePerform.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)StorePerform_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.StorePerform.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumColChunks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumColChunks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumColChunks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumColChunks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)StoreAttr") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.StoreAttr.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)StoreAttr_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.StoreAttr.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumRowChunks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumRowChunks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumRowChunks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumRowChunks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)RunTime") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.RunTime.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize2") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize2.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize2_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize2.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)IOSpeed") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.IOSpeed.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscLevel") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscLevel.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BloscLevel_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BloscLevel.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumFramesChunks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumFramesChunks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumFramesChunks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumFramesChunks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BoundaryAlign") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BoundaryAlign.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BoundaryAlign_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BoundaryAlign.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)XMLErrorMsg_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.XMLErrorMsg.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)XMLValid_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.XMLValid.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BoundaryThreshold") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BoundaryThreshold.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BoundaryThreshold_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BoundaryThreshold.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumFramesFlush") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumFramesFlush.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumFramesFlush_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumFramesFlush.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)XMLFileName") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.XMLFileName.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)XMLFileName_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.XMLFileName.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FillValue") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FillValue.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FillValue_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FillValue.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize3") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize3.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize4") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize4.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize5") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize5.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize6") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize6.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize7") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize7.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize8") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize8.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize9") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize9.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ChunkSize9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ChunkSize9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumExtraDims") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumExtraDims.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumExtraDims_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumExtraDims.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DimAttDatasets") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DimAttDatasets.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DimAttDatasets_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DimAttDatasets.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeN") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeN.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeN_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeN.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimNameN_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimNameN.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeX") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeX.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunkX") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunkX.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunkX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunkX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimNameX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimNameX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeY") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeY.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSizeY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSizeY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunkY") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunkY.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunkY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunkY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimNameY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimNameY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize3") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize3.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk3") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk3.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize4") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize4.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk4") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk4.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize5") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize5.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk5") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk5.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize6") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize6.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk6") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk6.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize7") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize7.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk7") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk7.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize8") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize8.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk8") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk8.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize9") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize9.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimSize9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimSize9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk9") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk9.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimChunk9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimChunk9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExtraDimName9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExtraDimName9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PositionMode") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PositionMode.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PositionMode_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PositionMode.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimN") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimN.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimN_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimN.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimN") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimN.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimN_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimN.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimX") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimX.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimX") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimX.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimY") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimY.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDimY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDimY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimY") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimY.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDimY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDimY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim3") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim3.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim3") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim3.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim3_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim3.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim4") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim4.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim4") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim4.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim4_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim4.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim5") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim5.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim5") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim5.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim5_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim5.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim6") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim6.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim6") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim6.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim6_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim6.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim7") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim7.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim7") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim7.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim7_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim7.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim8") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim8.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim8") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim8.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim8_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim8.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim9") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim9.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosIndexDim9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosIndexDim9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim9") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim9.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PosNameDim9_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PosNameDim9.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDAttributeChunk") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDAttributeChunk.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDAttributeChunk_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDAttributeChunk.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PluginType_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PluginType.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDArrayPort") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDArrayPort.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDArrayPort_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDArrayPort.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDArrayAddress") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDArrayAddress.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDArrayAddress_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDArrayAddress.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)EnableCallbacks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.EnableCallbacks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)EnableCallbacks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.EnableCallbacks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)MinCallbackTime") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.MinCallbackTime.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)MinCallbackTime_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.MinCallbackTime.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)QueueFree") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.QueueFree.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)QueueSize") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.QueueSize.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)QueueSize_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.QueueSize.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ExecutionTime_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ExecutionTime.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DroppedArrays") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DroppedArrays.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DroppedArrays_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DroppedArrays.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ProcessPlugin") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ProcessPlugin.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DroppedOutputArrays") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DroppedOutputArrays.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DroppedOutputArrays_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DroppedOutputArrays.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)MaxByteRate") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.MaxByteRate.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)MaxByteRate_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.MaxByteRate.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BlockingCallbacks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BlockingCallbacks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BlockingCallbacks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BlockingCallbacks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumThreads") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumThreads.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumThreads_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumThreads.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)MaxThreads_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.MaxThreads.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortMode") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortMode.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortMode_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortMode.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortTime") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortTime.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortTime_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortTime.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortFree") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortFree.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortSize") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortSize.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SortSize_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SortSize.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DisorderedArrays") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DisorderedArrays.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DisorderedArrays_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DisorderedArrays.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PortName_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PortName.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Manufacturer_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Manufacturer.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Model_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Model.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SerialNumber_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SerialNumber.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)FirmwareVersion_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.FirmwareVersion.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)SDKVersion_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.SDKVersion.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DriverVersion_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DriverVersion.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ADCoreVersion_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ADCoreVersion.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArraySizeX_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArraySizeX.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArraySizeY_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArraySizeY.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArraySize_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArraySize.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DataType") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DataType.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)DataType_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.DataType.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ColorMode") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ColorMode.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ColorMode_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ColorMode.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NumQueuedArrays") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NumQueuedArrays.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)WaitForPlugins") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.WaitForPlugins.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Acquire") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Acquire.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Acquire_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Acquire.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArrayCounter") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArrayCounter.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArrayCounter_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArrayCounter.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArrayCallbacks") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArrayCallbacks.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArrayCallbacks_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArrayCallbacks.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDAttributesFile") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDAttributesFile.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDAttributesMacros") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDAttributesMacros.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDAttributesStatus") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDAttributesStatus.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)EmptyFreeList") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.EmptyFreeList.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)AcquireBusyCB") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.AcquireBusyCB.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)BayerPattern_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.BayerPattern.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)ArraySizeZ_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.ArraySizeZ.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Codec_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Codec.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)CompressedSize_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.CompressedSize.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)UniqueId_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.UniqueId.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)TimeStamp_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.TimeStamp.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)EpicsTSSec_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.EpicsTSSec.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)EpicsTSNsec_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.EpicsTSNsec.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PoolMaxMem") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PoolMaxMem.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PoolUsedMem") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PoolUsedMem.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PoolAllocBuffers") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PoolAllocBuffers.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)PoolFreeBuffers") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.PoolFreeBuffers.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDimensions") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDimensions.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)NDimensions_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.NDimensions.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Dimensions") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Dimensions.w": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

record("*", "$(P)$(R)Dimensions_RBV") {
    info(Q:group, {
        "$(P)$(R)PVI": {
            "pvi.Dimensions.r": {
                "+channel": "NAME",
                "+type": "plain",
            }
        }
    })
}

### End of PV Interface for NDFileHDF5 ###
