#% macro, __doc__, Simple mbboDirect record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC
#% macro, nobt, Number of bits to write

record(mbboDirect, "$(record)") {
    field(DESC, "Write bits to PLC tag")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(NOBT, "$(nobt)")
    field(OUT, "@$(port) $(tag)[0]")
}
