#% macro, __doc__, Simple ao record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC

record(ao, "$(record)") {
    field(DESC, "Write number to tag on PLC")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(OUT, "@$(port) $(tag)")
}
