#% macro, __doc__, Simple bi record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC

record(bi, "$(record)") {
    field(DESC, "Read bit from PLC tag")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(INP, "@$(port) $(tag)")
}
