#% macro, __doc__, Simple bo record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC

record(bo, "$(record)") {
    field(DESC, "Write bit to PLC tag")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(OUT, "@$(port) $(tag)")
}
