#% macro, __doc__, Simple mbbiDirect record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC
#% macro, nobt, Number of bits to read

record(mbbiDirect, "$(record)") {
    field(DESC, "Read bits to PLC tag")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(NOBT, "$(nobt)")
    field(INP, "@$(port) $(tag)[0]")
}
