#% macro, __doc__, Simple ai record for ether_ip connection
#% macro, record, Record Name
#% macro, port, Ether_IP Port Name
#% macro, scan, Scan Time
#% macro, tag, Tag to address on PLC

record(ai, "$(record)") {
    field(DESC, "Read number from tag on PLC")
    field(SCAN, "$(scan)")
    field(DTYP, "EtherIP")
    field(INP, "@$(port) $(tag)")
}
